{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  {% block css %}{% endblock %}
</head>

<body>
  <div class="navbar bg-base-100 rounded-xl">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">Surefok</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'posts:post_list' %}">Доска объявлений</a></li>
        {% if user.is_authenticated %}
        <li>
          <details>
            <summary>
              Действия
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a href="/posts/new">Создать объявление</a></li>
              <li><a href="/users/profile">Профиль {{user}}</a></li>
              {% if user.is_superuser %}
              <li><a href="/admin">Админ-панель</a></li>
              {% endif %}
            </ul>
          </details>
        </li>
        {% else %}
        <li><a href="{% url 'users:login' %}">Войти</a></li>
        <li><a href="{% url 'users:registration' %}">Регистрация</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% block content %}{% endblock %}
</body>
<!-- 
<body>
  <div class="wrapper" style="height: 100vh;">
    <div class="header" style="height: 20%;">
      <a href="/">
        <img src="{% static 'img/users/logo.png' %}" alt="logo" style="width: 150px;" />
        <div>Surefok</div>
      </a>
      <div>
        
        <nav>
          <ul>

            <li><a href="" class="header_link">Все объявления</a></li>
            {% if user.is_authenticated %}

            {% else %}
            <li><a href="{% url 'users:login' %}" class="header_link">Войти</a></li>
            <li><a href="{% url 'users:registration' %}" class="header_link">Регистрация</a></li>
            {% endif %}
          </ul> -->
        <!-- </nav>
      </div>
    </div> -->

<!-- </body>

</html>  -->